* {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 60px;
}

ul {
  list-style: none;

  background-color: lightgray;
  border: 3px black solid;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding: 5px;
}

p {
  margin: 5px;
}
