* {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 60px;
}

ul {
  list-style: none;

  background-color: lightgray;
  border: 3px black solid;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 5px;
}

ul span {
  width: 100%;
  border: 1px grey dotted;
}

.tableHeading {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 0px;
  font-weight: bold;
}

.freelancerRow {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
